<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>tonneru</vendor>
  <vendor_url>https://github.com/WattForce/tonneru</vendor_url>

  <action id="com.omarchy.tonneru.manage-vpn">
    <description>Manage WireGuard VPN connections</description>
    <message>Authentication is required to manage VPN connections</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/wg-quick</annotate>
  </action>

  <action id="com.omarchy.tonneru.manage-firewall">
    <description>Manage firewall rules for VPN kill switch</description>
    <message>Authentication is required to modify firewall rules</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/nft</annotate>
  </action>
</policyconfig>

